#header {
      background: #858F9B;
      height: 230px;
}

.header_title {
      position: relative;
      float: left;
      top: 5%;
      color: white;
      width: 100%;
}

.header_title_name {
      background: #91B8CB;
      display: inline-block;
      width: 100%;
      font-size: 70px;
}

.header_title_position {
      font-size: 30px;
}

#avatar {
      position: absolute;
      right: 50px;
      top: 30px;
}

#left_content_div {
      float: left;
      width: 50%;
}

#right_content_div {
      float: left;
      width: 50%;
}

.content_section {
      margin: 30px;
}
.section_title {
      background: #C4BFA4;
      font-size: 30px;
      color: white;
      width: 100%;
      display: inline-block;
}

#content {
      background: #d2d0d2;
      height: 400px;
}

#footer {
      background: #858F9B;
      height: 80px;
}
